* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: rgb(250, 250, 250);
  background: radial-gradient(circle, rgba(250, 250, 250, 1) 0%, rgba(236, 236, 236, 1) 100%);
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
  background: transparent;
}

button {
  color: #8e8b8b;
}

#todo-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 408px;
  background-color: #fff;
}

.modal li {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 49px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#add-img {
  width: 16px;
  filter: invert(50%);
}

.list label,
.list input {
  display: none;
  flex: 1;
}

.modal li input {
  flex: 1;
  background: transparent;
  font-size: 1rem;
}

.modal li input:focus-visible {
  outline: none;
}

.modal li input::placeholder {
  font-style: italic;
}

.modal li.clear {
  padding: 0;
}

#todo-box {
  height: 100%;
  padding: 0;
}

.list {
  width: 100%;
}

.check {
  margin-right: 8px;
}

.list label {
  margin: auto 0;
}

.list label.active,
.list input.active {
  display: block;
}

.clear-completed {
  background-color: rgb(239, 239, 239);
  width: 100%;
  height: 100%;
}

.clear-completed:hover {
  text-decoration: underline;
  color: black;
}
